* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --scale: scale(0.7);
  --blur: blur(8px);
}
.wrapper {
  max-height: 100vh !important;
  gap: 1vw;
}
.image {
  height: 70vh;
  background: url(image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: var(--scale);
  filter: var(--blur);
}
@media only screen and (max-width: 1220px) {
  .wrapper {
    gap: 3vw;
  }
  .container-image {
    width: 75% !important;
  }
  h1 {
    font-size: 36px !important;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    gap: 4vw;
  }
  h1 {
    font-size: 22px !important;
  }
}
